{% extends 'layouts/index.html' %}

{% block content %}

    <h1>Product</h1>
    <h2>{{ product.title }}   Rate: {{ product.rate }}</h2>
    <img src="/media/{{ product.image }}" width="50%" alt="...">
    <h3>{{ product.content }}</h3>
    <p>DATE: {{ product.created_at }}</p>

    {% for category in product.category.all %}
        <a href="/category/" class="btn btn-primary">#{{ category.text }}</a>

    {% endfor %}
    <p>
    <a href="/create_reviews/{{ product.id }}/" class="submit-row">Create Review{{ ReviewCreateForm }}</a>
    </p>

    <h3>Reviews:</h3>
    {% for review in product.review.all %}
        <p>{{review.text}}</p>
    {% endfor %}

{% endblock %}