{% extends 'layouts/index.html' %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="/media/{{ product.image }}" class="card-img-top" alt="{{ product.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">{{ product.content }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Rate:</strong> {{ product.rate }}</li>
                        <li class="list-group-item"><strong>Created at:</strong> {{ product.created_at }}</li>
                        <li class="list-group-item">
                            {% for category in product.category.all %}
                                <a href="/category/{{ category.id }}" class="badge badge-primary">#{{ category.text }}</a>
                            {% endfor %}
                        </li>
                    </ul>
                    <div class="card-body">
                        <a href="/products/{{ product.id }}" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}